<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mines.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C9555D841E2482C000A8F566</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9B3AFF51E21E1FE00B98E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9E121901E2485D4008B89CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
